<div class="row">
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h4>Eat it while it's hot!</h4>
      <div id="ready_to_eat">
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-warning eatit-button" type="submit">Eat It!!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- yummy in your tummy -->
    <div class="col-md-6">
      <h4 class="red_font">Yummy in your tummy!</h4>
      <div id="already_eaten">

        <!-- adding burgers-->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              <span class="input-group-btn">
                <button class="btn btn-danger delete-button" type="button">Delete evidence!</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </main>
</div>